.editArea {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 20px;
    }

    .avatar {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .fontType {
            margin-top: 5px;
            font-size: 10px;
            color: #999;
            text-align: center;
        }
    }
    
    .job,
    .description,
    .nickname {
        display: flex;
        width: 325px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        span {
            font-size: 18px;
            font-weight: bolder;
        }
    }

}
