.title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bolder;
}

.user {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 40px;

    .info {
        margin-left: 10px;

        .name {
            margin-bottom: 5px;
            font-size: 18px;
            font-weight: bold;
        }

        .date {
            display: flex;
            font-size: 14px;
            color: #8a919a;

            div {
                margin-right: 10px;
            }
        }
    }
}

.markdown {
    img {
        width: 100%;
    }
}

.comment {
    .empty {
        margin-top: 20px;
        font-size: 16px;
        color: #8a919f;
    }
}

.commentList {
    margin-top: 40px;

    .wrapper {
        display: flex;
        align-items: center;

        .info {
            display: flex;
            flex-direction: column;
            margin-left: 20px;
            width: 100%;

            .name {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 15px;
                font-weight: bold;

                .date {
                    color: #8a919f;
                    font-weight: normal;
                    font-size: 13px;
                }
            }
        }

        .content {
            color: #515767;
            margin-top: 10px;
        }

    }
}